.main{
    background-color: rgb(193, 254, 254);
    border-style: calc(778);
    border-radius: 32px;
    border-width: 10px;
    animation: anim1 5s alternate-reverse 2s infinite;
    padding: 2.5vmax;
}
.left{
    background-color: rgb(170, 223, 223);
    border-style: calc(778, 21);
    border-radius: 32px;
    border-width: 10px;
    padding: 2.5vmax;
}
.bruh{
    padding: 7vmax;
}
body{
    background-image: none;
}
@keyframes anim1 {
    0%   {background-color: red;}
    33.33%  {background-color: yellow;}
    66.66%  {background-color: blue;}
    100%   {background-color: green;}
    /* 100%   {background-color: red;} */

    /* 100% {background-color: green;} */
}
